*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container { 
    display: flex;   /*block*/
   justify-content: space-between;
   flex-flow: row wrap;
    background: yellow;
    height: 800px;
   
}

.flex-item { /* se comportam de acordo com o flex-container*/
    flex-grow: 1;
    flex-basis: 320px;
    flex-shrink: 0 ;/*permite que o elemento diminua*/
    height: 200px;
    color: #fff;
    background: red;
}
.flex-item:nth-child(2) {
    order: -2; /*posiciona o elemento na ordem que voce queira*/
}
