*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: sans-serif;
    font-size: 50px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    overflow-x: hidden;
}

.grid {
    max-width: 1200px;
    display: grid;
   grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-right: -30px;
}


.grid div {
    background: tomato;
    min-height: 100px;
    margin-right: 30px;
    margin-bottom: 30px;
}
 /* span quantas linhas o elemento ira ocupar*/
.grid div:nth-child(5){
    background: darkred;
  /* grid-column: span 2 / span 2;
   grid-row: um / quatro;*/
   /*grid-area: 1 / 1 / 4 / 3; /* linha que inicia,linha que termina,coluna que inicia,coluna que termina*/
}


