*{
    margin: 0;
}
.pai{
    height: 300vh;
}

.filha1 , .filha2, .filha3 {
    width: 300px;
    height: 300px;
    background: rgba(255, 0, 0, 1);
    margin: 10px;
    position: static;
}
.filha2 {
    background: greenyellow;
    position: fixed;
    top: 30%;
    right: 0;
    z-index: 1;
}

.filha1 {

}
.filha3 {
    background: blue;
    position: relative;
    top: 100px;
    left: 100px;
}
.outra {
    position: absolute;
    font-size: 50px;
    background: #fff;
}
ul {
    height: 100px;
    overflow-y: auto;
}
ul li.sticky {
    position: sticky;
    background: gray;
    top: 0;
}